.content {
    grid-area: c;
    color: #00dbff;
    display: grid;
    grid-gap: 20px;
    /*padding: 10px;*/
    grid-template-areas: "h h h h" "ava description . . " "title . . ." "input input input input" ". . . send" "posts posts posts posts";
}

