.nav {
    grid-area: n;
    background-color: #451b8a;
    padding: 10px;
    /*color: #000;*/
    color: #00dbff;
}

.nav a {
    color: #00dbff;
    text-decoration: none;
}

.settings {
    margin-top: 40px;
}

.nav .active {
    color: chartreuse;
}
