.posts__send {
    grid-area: send;
}

.posts__send > button {
    /*background-color: aliceblue;*/
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    margin-right: 6px;
    font-size: 18px;
    color: #525252;
    background: #00dbff;
}
